<!DOCTYPE html>
<html>
<head>
    <title>Disse O Nário</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="image-container">
        <img class="half-image-left" src="{% static 'img/sala.png' %}">
        <img class="half-image-right" src="{% static 'img/scroll.png' %}">
        <div class="text-overlay">
            <div class="col-9 search-div"> 
                <form method="GET">
                    <div class="input-group">
                        <input class="form-control" name="search" type="search" placeholder="Diga a palavra que quer saber o significado" value="{{request.GET.search}}">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
             {% if tem_pesquisa %}   
            <br>
            <p> <strong>Palavra</strong>: {{request.GET.search}} </p>
            <p><strong>Significado</strong>: {% if word.meaning %}{{ word.meaning }}{% else %}(Nenhum significado encontrado){% endif %}</p>
            <p><strong>Sinônimos</strong>: {% if word.synonyms %}{{ word.synonyms|join:", " }}{% else %}(Nenhum sinônimo encontrado){% endif %}</p>
            <p><strong>Frases</strong>: {% if word.examples %}{{ word.examples|join:".<br>" }}{% else %}(Nenhuma frase de exemplo encontrada){% endif %}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>

